{% extends 'base.html.twig' %}

{% block title %} Liste des biens - inventera {% endblock %}

{% block content %}

<h1><center> Tableau des amortissements </center> </h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Référence</th>
        <th scope="col">Désignation</th>
        <th scope="col">Description</th>
        <th scope="col">Nombre d'unités</th>
        <th scope="col">Service de rattachement</th>
      </tr>
    </thead>
    <tbody>
    {% for bien in biens %}    
      <tr>
        <th scope="row">1</th>
        <td> <a href=" {{path('app_show_bien', {'slug': bien.slug})}}">{{bien.referenceBien}} </a></td>
        <td>{{bien.nom}}</td>
        <td> {{ bien.description }} </td>
        <td> {{bien.nombreUniteLot}} </td>
        <td> {{ bien.service}}</td>
        <td></td>
      </tr>
      {% endfor  %}
    </tbody>
  </table>



{% endblock %}
