{% extends 'base.html.twig' %}

{% block title %} {{ bien.nom }} {% endblock %}

{% block content %}


       <h1>   {{ bien.nom}} </h1></br>

        <div class="row">
        <div class="col-md-3" my-auto>
                    <img src="{{ asset('/uploads/' ~ bien.image) }}" alt="{{ bien.nom}}" class="img-fluid">
        </div>

        <div "col-md-5" my-auto>
            <span> Référence: {{bien.referenceBien}} </span>
            <p> Description: {{ bien.description }}</p>
            <p> Nombre d'unités: {{ bien.nombreUniteLot }}</p>
            <p> Service de rattachement: {{ bien.service}}</p>
        </div>

        <div "col-md-3" my-auto>
   
        </div>
        </div>
        </br></br>
        <center><a href=" {{path('app_qr_bien', {'slug': bien.slug})}}"> Génération de code QR</a></center>


{% endblock %}
